[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = 'nodemon --exec  python3 main.py'
login = 'bash login.sh'
[packages]
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
