[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = 'nodemon --exec  python3 main.py'
login = 'bash login.sh'
deploy = 'pm2 deploy ecosystem.config.js production'

[packages]
requests = "*"
discord = "*"

[dev-packages]

[requires]
python_version = "3.9"
